/* =======================================
   Fonts
======================================= */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* =======================================
   Tailwind directives
======================================= */
@import "tailwindcss";

/* =======================================
   Font Globale
======================================= */
* {
    font-family: "Outfit", sans-serif;
}

/* =======================================
   Variables CSS
======================================= */
:root {
    --color-primary: #E6CCFF;
}

/* =======================================
   Scrollbar (masquée)
======================================= */
::-webkit-scrollbar {
    display: none;
}

/* =======================================
   Mode sombre
   Utiliser avec classes Tailwind `dark:`
======================================= */